In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', 10)

In [5]:
df_csv = pd.read_csv('data.csv', encoding = 'shift-jis')
df_csv

,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
0,00,全国,大正,9.0,1920.0,NaN,55963053,28044185,27918868
1,01,北海道,大正,9.0,1920.0,NaN,2359183,1244322,1114861
2,02,青森県,大正,9.0,1920.0,NaN,756454,381293,375161
3,03,岩手県,大正,9.0,1920.0,NaN,845540,421069,424471
4,04,宮城県,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...,...
977,45,宮崎県,平成,27.0,2015.0,NaN,1104069,519242,584827
978,46,鹿児島県,平成,27.0,2015.0,NaN,1648177,773061,875116
979,47,沖縄県,平成,27.0,2015.0,NaN,1433566,704619,728947
980,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df_csv = pd.read_csv('data.csv', encoding = 'shift-jis', index_col = 1)
df_csv

,都道府県コード,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
都道府県名,,,,,,,,
全国,00,大正,9.0,1920.0,NaN,55963053,28044185,27918868
北海道,01,大正,9.0,1920.0,NaN,2359183,1244322,1114861
青森県,02,大正,9.0,1920.0,NaN,756454,381293,375161
岩手県,03,大正,9.0,1920.0,NaN,845540,421069,424471
宮城県,04,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...
宮崎県,45,平成,27.0,2015.0,NaN,1104069,519242,584827
鹿児島県,46,平成,27.0,2015.0,NaN,1648177,773061,875116
沖縄県,47,平成,27.0,2015.0,NaN,1433566,704619,728947
NaN,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
type(df_csv.index)

pandas.core.indexes.base.Index

In [9]:
df_csv = pd.read_csv('data.csv', encoding = 'shift-jis', index_col = [0, 1, 2, 3, 4])
df_csv.head()

                                 注    人口（総数）     人口（男）     人口（女）
都道府県コード 都道府県名 元号 和暦（年） 西暦（年）
00      全国    大正 9.0   1920.0  NaN  55963053  28044185  27918868
01      北海道   大正 9.0   1920.0  NaN   2359183   1244322   1114861
02      青森県   大正 9.0   1920.0  NaN    756454    381293    375161
03      岩手県   大正 9.0   1920.0  NaN    845540    421069    424471
04      宮城県   大正 9.0   1920.0  NaN    961768    485309    476459

In [10]:
type(df_csv.index)

pandas.core.indexes.multi.MultiIndex

In [11]:
df_csv.dtypes

注         object
人口（総数）    object
人口（男）     object
人口（女）     object
dtype: object

In [12]:
df_csv.to_csv('data_csv.csv', encoding = 'shift-jis')

In [14]:
pd.read_excel('data.xlsx')

,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
0,0,全国,大正,9.0,1920.0,NaN,55963053,28044185,27918868
1,1,北海道,大正,9.0,1920.0,NaN,2359183,1244322,1114861
2,2,青森県,大正,9.0,1920.0,NaN,756454,381293,375161
3,3,岩手県,大正,9.0,1920.0,NaN,845540,421069,424471
4,4,宮城県,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...,...
977,45,宮崎県,平成,27.0,2015.0,NaN,1104069,519242,584827
978,46,鹿児島県,平成,27.0,2015.0,NaN,1648177,773061,875116
979,47,沖縄県,平成,27.0,2015.0,NaN,1433566,704619,728947
980,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
pd.read_excel('data.xlsx', skiprows = 0)

,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
0,0,全国,大正,9.0,1920.0,NaN,55963053,28044185,27918868
1,1,北海道,大正,9.0,1920.0,NaN,2359183,1244322,1114861
2,2,青森県,大正,9.0,1920.0,NaN,756454,381293,375161
3,3,岩手県,大正,9.0,1920.0,NaN,845540,421069,424471
4,4,宮城県,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...,...
977,45,宮崎県,平成,27.0,2015.0,NaN,1104069,519242,584827
978,46,鹿児島県,平成,27.0,2015.0,NaN,1648177,773061,875116
979,47,沖縄県,平成,27.0,2015.0,NaN,1433566,704619,728947
980,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_excel = pd.read_excel('data.xlsx', header = [0])

In [21]:
pd.read_excel('data.xlsx', index_col = 1)

,都道府県コード,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
都道府県名,,,,,,,,
全国,0,大正,9.0,1920.0,NaN,55963053,28044185,27918868
北海道,1,大正,9.0,1920.0,NaN,2359183,1244322,1114861
青森県,2,大正,9.0,1920.0,NaN,756454,381293,375161
岩手県,3,大正,9.0,1920.0,NaN,845540,421069,424471
宮城県,4,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...
宮崎県,45,平成,27.0,2015.0,NaN,1104069,519242,584827
鹿児島県,46,平成,27.0,2015.0,NaN,1648177,773061,875116
沖縄県,47,平成,27.0,2015.0,NaN,1433566,704619,728947
NaN,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
df_excel.to_excel('df_excel.xlsx')

In [25]:
df_excel

,都道府県コード,都道府県名,元号,和暦（年）,西暦（年）,注,人口（総数）,人口（男）,人口（女）
0,0,全国,大正,9.0,1920.0,NaN,55963053,28044185,27918868
1,1,北海道,大正,9.0,1920.0,NaN,2359183,1244322,1114861
2,2,青森県,大正,9.0,1920.0,NaN,756454,381293,375161
3,3,岩手県,大正,9.0,1920.0,NaN,845540,421069,424471
4,4,宮城県,大正,9.0,1920.0,NaN,961768,485309,476459
...,...,...,...,...,...,...,...,...,...
977,45,宮崎県,平成,27.0,2015.0,NaN,1104069,519242,584827
978,46,鹿児島県,平成,27.0,2015.0,NaN,1648177,773061,875116
979,47,沖縄県,平成,27.0,2015.0,NaN,1433566,704619,728947
980,1) 沖縄県は調査されなかったため，含まれていない。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,2) 長野県西筑摩群山口村と岐阜県中津川市の境界紛争地域人口（男39人，女34人）は全国に含...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN